<!-- <h1>Books#edit</h1> -->
<!-- <p>Find me in app/views/books/edit.html.erb</p> -->

<h1>Editing Book</h1>
 <%= form_with model:@book, local:true do |f| %>

　<div class="field">Title</div>
  <%= f.text_field :title %>

  <div class="field">Body</div>
  <%= f.text_area :body %>

  <div class="actions"><%= f.submit 'Update Book' %></div>

  <% end %>

  <%= link_to 'Show', book_path %> | <%= link_to 'Back', books_path %>